<div
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-sm12">
				<div class="layui-row layui-col-space15">
					<div class="layui-col-sm4">
						<div class="layui-card">
							<div class="layui-card-header">今日BUG收割机榜</div>
							<div class="layui-card-body">
								<table class="layui-table layuiadmin-page-table" lay-skin="line" id="todayCloserTable">
								</table>
							</div>
						</div>
					</div>
					<div class="layui-col-sm4">
						<div class="layui-card">
							<div class="layui-card-header">本周BUG收割机榜</div>
							<div class="layui-card-body">
								<table class="layui-table layuiadmin-page-table" lay-skin="line" id="oneWeakCloserTable">
								</table>
							</div>
						</div>
					</div>
					<div class="layui-col-sm4">
						<div class="layui-card">
							<div class="layui-card-header">本月BUG收割机榜</div>
							<div class="layui-card-body">
								<table class="layui-table layuiadmin-page-table" lay-skin="line" id="oneMonthCloserTable">
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="assets/js/home.js"></script>
